body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Tahoma", sans-serif;
  margin: 0 auto;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

$white: #ffffff;
$main-blue: #283645;
$titles-big: #000000;
$pink: #d22856;
$fw-bold: 700;
$fw-med: 400;
$fw-small: 300;
$fs-xsmall: 14px;
$fs-small:18px;
$fs-med:24px;
$big: uppercase;
$list: none;
