$tablet-width: 660px;
$desktop-width: 960px;
$mobile-width-only: 959px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$white: #ffffff;
$fair-grey: #e5e5e5;
$bg-blue: #2d3c4b;
$main-blue: #283645;
$main-pink: #f2f2f2;
$dark: #dddfe0;
$fair-blue: #1d2631;
$grey-social: #e9ebec;
$green-btn: #2aab6d;
$bg-map: #eae6dd;
$red: #f25b26;
$green-yes: #3dc644;
$gray-btn: #1c9b5e;
$black: #000000;
$titles-big: #171a1d;
$pink: #d22856;
$grey: #485461;
$clear: rgba(0, 0, 0, 0);
$fw-bold: 700;
$fw-med: 400;
$fw-small: 300;
$s-xsmall: 14px;
$s-small:18px;
$s-med:24px;
$s-large: 30px;
$s-big: 32px;
$big: uppercase;
$list: none;
$indent: 0 20px;
