$tablet-width: 660px;
$desktop-width: 960px;
$white: #ffffff;
$main-blue: #283645;
$main-pink: #f2f2f2;
$black: #000000;
$titles-big: #000000;
$pink: #d22856;
$fw-bold: 700;
$fw-med: 400;
$fw-small: 300;
$s-xsmall: 14px;
$s-small:18px;
$s-med:24px;
$s-big: 32px;
$big: uppercase;
$list: none;
$indent: 0 20px;
