.advantages {
  color: $main-blue;
  font-weight: $fw-small;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.advantages__container {
  width: 280px;
  min-height: 242px;
  padding: 0 20px;
  margin: 0 auto;
}

.advantages__head {
  font-weight: $fw-small;
  font-size: $s-med;
  text-align: center;
  height: 244px;
  background: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.advantages__question {
  font-weight: $fw-small;
  font-size: $s-med;
  line-height: 30px;
  padding-top: 19px;
}

.advantages__offer {
  padding-top: 5px;
  line-height: 28px;
}

.advantages__list {
  @include zero;
  list-style: $list;
  padding-top: 53px;
  text-align: center;
}

.advantages__item {
  margin-bottom: 30px;
  text-align: center;
}

.advantages__title {
  padding: 0;
  margin: 0;
  font-size: $s-small;
  color: $black;
  font-weight: $fw-bold;
  letter-spacing: 0.4px;
}

.advantages__description {
  margin: 0 auto;
  padding-top: 13px;
  text-align: center;
  font-size: $s-xsmall;
  font-weight: $fw-med;
}

.advantages__friends {
  margin-bottom: 0;
  padding-bottom: 318px;
  position: relative;
}

.advantages__friends::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 278px;
  bottom: 0;
  right: 57px;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .advantages {
    min-width: $tablet-width;
    min-height: 725px;
  }

  .advantages__head {
    min-width: $tablet-width;
    min-height: 292px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .advantages__question {
    @include zero;
    padding-top: 58px;
    font-size: 40px;
  }

  .advantages__offer {
    @include zero;
    font-size: 40px;
    line-height: 48px;
    padding-top: 10px;
    width: 350px;
  }

  .advantages__container {
    width: 616px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .advantages__list {
    padding-top: 22px;
    min-height: 370px;
    width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .advantages__item {
    @include zero;
    text-align: left;
  }

  .advantages__description {
    text-align: left;
  }

  .advantages__friends {
    padding-bottom: 0;
  }

  .advantages__friends::after {
    left: -250px;
  }
}
