.btn {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  word-break: break-all;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;

  &__download-app {
    color: $white;
    border: 3px solid #ffffff;
    border-radius: 25px;
    padding: 14px 39px;
  }
}
