.button {
  @include button-zero;
  border: $list;
  color: $white;
  padding: 20px;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.button__modal {
  text-transform: $big;
  background-color: $green-btn;

  &--1 {
    width: 460px;
  }
}
