.competition {
  @include zero;
}

.competition__head {
  min-height: 172px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 23%;
}

.competition__promo {
  @include zero;
  @include font-large;
  color: $white;
  padding: 30px 20px;
  text-align: center;
}

.competition__title {
  @include zero;
  @include font-small;
  padding: 46px 25px 34px;
  text-align: center;
}

.competition__personal-data {
  @include zero;
  border: $list;
  padding: $indent;
  padding-bottom: 6px;
}

.competition__input-info {
  @include zero;
  margin-bottom: 3px;
}

.competition__input-info input[type="text"],
.competition__input-field input[type="tel"],
.competition__input-field input[type="email"] {
  margin: 4px 0 15px;
  width: 234px;
  padding: 20px 21px;
  border: 2px solid #e5e5e5;
  color: $main-blue;
}

.competition__input-info input[type="text"]::placeholder,
.competition__input-field input[type="tel"]::placeholder,
.competition__input-field input[type="email"]::placeholder,
.competition__emotions-input textarea::placeholder {
  @include font-medium;
  color: $main-blue;
}

.competition__label {
  @include font-small;
  color: $pink;
  text-transform: $big;
  padding: $indent;
}

.competition__goals {
  @include zero;
  @include font-medium;
  background-color: $main-pink;
  border: $list;
  padding: $indent;
}

.competition__goals legend,
.competition__app legend,
.competition__emotions-input legend {
  @include zero;
  @include font-middle;
  padding-top: 96px;
  text-transform: $big;
  color: $pink;
  text-align: center;
}

.competition__list-checkbox {
  list-style: $list;
}

.competition__personal-contacts {
  border: $list;
  padding: $indent;
}

.competition__app {
  @include zero;
  @include font-medium;
  border: $list;
  background-color: $main-pink;
  padding: $indent;
}

.competition__app-item {
  list-style: $list;
}

.competition__emotions-input {
  border: $list;
  padding: $indent;
}

.competition__textarea {
  margin: 15px 0;
  width: 248px;
  height: 169px;
  padding: 14px;
  border: 2px solid #e5e5e5;
  color: $main-blue;
}

.competition__requiered {
  @include font-small;
  padding: $indent;
  text-transform: $big;
  text-align: center;
}

.competition__star-marker {
  color: $pink;
}

.competition__button {
}
