.competition {
  @include zero;
  width: 100%;
  background-color: $main-pink;

  @media (min-width: $tablet-width) {
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
  }
}

.competition__container {
  @media (min-width: $tablet-width) {
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: 0 auto;
  }
}

.competition__wrapper {
  @media (min-width: $tablet-width) {
    width: 620px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}

.competition__form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (min-width: $desktop-width) {
      width: 940px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
    }
  }
}

.competition__title {
  @include zero;
  @include font-small;
  padding: 31px 20px 20px;
  text-align: center;
  background-color: $white;

  @media (min-width: $tablet-width) {
    @include zero;
    @include font-medium;
    width: 620px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.competition__title-head {
  @media (min-width: $tablet-width) {
    @include zero;
    margin: 92px 0 65px;
    width: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
    margin-top: 92px;
    margin-bottom: 70px;
  }
}

.competition__title-offer {
  display: none;

  @media (min-width: $tablet-width) {
    @include zero;
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.competition__data {
  background-color: $white;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 434px;
    margin-bottom: 48px;
  }
}

.competition__personal-data {
  @include zero;
  border: $list;
  margin: 0 auto;
  padding-bottom: 50px;
  width: 280px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    @include zero;
    width: 620px;
    margin-bottom: 61px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 12px;
    margin-top: 8px;
    width: 440px;
  }
}

.competition__form-item {
  height: 90px;
  width: 280px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    height: 64px;
    width: 620px;
    margin: 0 auto;
    margin-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 53px;
    width: 436px;
  }
}

.competition__form-item:last-child {
  margin-bottom: 0;
}

.competition__input-info {
  @media (min-width: $tablet-width) {
    @include zero;
  }
}

.competition__input,
.competition__input-field input[type="tel"],
.competition__input-field input[type="email"] {
  width: 234px;
  padding: 19px 21px 18px;
  border: 2px solid $fair-grey;
  color: $main-blue;
  border-radius: 0;

  @media (min-width: $tablet-width) {
    width: 394px;
  }

  @media (min-width: $desktop-width) {
    width: 268px;
  }
}

.competition__input-field input[type="tel"],
.competition__input-field input[type="email"] {
  @media (min-width: $tablet-width) {
    width: 454px;
  }

  @media (min-width: $desktop-width) {
    width: 329px;
  }
}

.competition__input:hover,
.competition__input-field input[type="tel"]:hover,
.competition__input-field input[type="email"]:hover,
.competition__textarea:hover {
  border: 2px solid $main-blue;
}

.competition__input:active,
.competition__input-field input[type="tel"]:active,
.competition__input-field input[type="email"]:active,
.competition__textarea:active {
  border: 2px solid $pink;
}

.competition__input-info input[type="text"]::placeholder,
.competition__input-field input[type="tel"]::placeholder,
.competition__input-field input[type="email"]::placeholder {
  @include font-medium-line;
  color: $main-blue;
}

.competition__emotions-input textarea::placeholder {
  @include font-medium;
  color: $main-blue;
  padding-left: 4px;
}

.competition__label {
  @include font-small;
  color: $pink;
  text-transform: $big;
  padding-left: 22px;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    padding: 8px 0 0 20px;
  }
}

.competition__input1,
.competition__input3 {
  @media (min-width: $tablet-width) {
    width: 479px;
  }

  @media (min-width: $desktop-width) {
    width: 294px;
  }
}

.competition__input2 {
  @media (min-width: $tablet-width) {
    width: 519px;
  }

  @media (min-width: $desktop-width) {
    width: 335px;
  }
}

.competition__contact-data {
  @media (min-width: $tablet-width) {
    padding: 0;
    padding-right: 14px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 12px;
  }
}

.competition__input {
  margin-top: 6px;

  @media (min-width: $desktop-width) {
    margin-top: 6px;
  }
}

.competition__goals {
  @include zero;
  @include font-medium;
  background-color: $main-pink;
  border: $list;
  margin: 0 auto;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    @include zero;
    margin-bottom: 55px;
    background-color: inherit;
    border: 2px solid $fair-grey;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

.competition__goals-container {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 620px;
    order: 3;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.competition__app-legend,
.competition__legend,
.competition__contact-legend,
.competition__emotions-legend {
  @include zero;
  @include font-middle;
  margin: 0 auto;
  text-transform: $big;
  color: $pink;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0 15px;
    margin: 0 auto;
  }
}

.competition__app-legend {
  width: 180px;

  @media (min-width: $tablet-width) {
    width: 336px;
  }

  @media (min-width: $desktop-width) {
    width: 336px;
  }
}

.competition__emotions-legend {
  @media (min-width: $tablet-width) {
    padding: 0 38px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 38px;
  }
}

.competition__personal-goals {
  @include zero;
  @include font-middle;
  text-transform: $big;
  color: $pink;
  background-color: $main-pink;
  text-align: center;
  padding-top: 38px;
  width: 220px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    margin: 0 auto;
    background-color: inherit;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    background-color: inherit;
    width: 380px;
    margin: 0 auto;
    padding: 0 28px;
  }
}

.competition__list-checkbox {
  @include zero;
  list-style: $list;
  width: 280px;
  margin: 0 auto;
  margin-top: 38px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    @include zero;
    margin: 0 auto;
    margin-top: 52px;
    margin-bottom: 48px;
    width: 500px;
    align-items: flex-start;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 820px;
    margin-top: 51px;
    margin-bottom: 13px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.competition__list-option {
  padding-left: 70px;
  line-height: 40px;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    @include zero;
    padding-left: 59px;
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    min-width: 150px;
    padding-left: 61px;
    margin-bottom: 42px;
  }
}

.competition__list-option:nth-child(2) {
  @media (min-width: $desktop-width) {
    order: 3;
  }
}

.competition__list-option:nth-child(3) {
  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.competition__list-option:nth-child(4) {
  @media (min-width: $desktop-width) {
    order: 4;
    margin-left: 29px;
  }
}

.competition__list-option:nth-child(5) {
  @media (min-width: $desktop-width) {
    order: 2;
  }
}

.competition__list-option:nth-child(6) {
  @media (min-width: $desktop-width) {
    order: 5;
  }
}

.competition__list-option:last-child {
  margin-bottom: 0;
}

.competition__personal-contacts {
  border: $list;
  width: 280px;
  margin: 0 auto;
  padding: 15px 0;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 616px;
    border: 2px solid $fair-grey;
  }

  @media (min-width: $desktop-width) {
    padding-top: 13px;
    min-width: 936px;
  }
}

.competition__wrap-1 {
  margin: 18px 0 25px;

  @media (min-width: $tablet-width) {
    margin-top: 24px;
    margin-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    width: 820px;
    margin: 0 auto;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.competition__contact-legend {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 0 31px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 30px;
  }
}

.competition__contacts-container {
  background-color: $white;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    width: 620px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin-bottom: 57px;
  }
}

.competition__input-field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    margin: 15px 0 0;
    width: 375px;
    display: flex;
    flex-direction: column-reverse;
  }
}

.competition__input-field:last-child {
  margin-bottom: 0;
}

.competition__app-container {
  margin: 0 auto;
  background-color: $main-pink;

  @media (min-width: $tablet-width) {
    @include zero;
    margin: 0 auto;
    margin-bottom: 57px;
    background-color: inherit;
    width: 620px;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 435px;
  }
}

.competition__input--phone {
  @media (min-width: $tablet-width) {
    background: url("../img/icon-phone.svg") 95.5% no-repeat, linear-gradient(to right, $white 0, $white 87.9%, $main-pink 87.9%, $main-pink 100%);
  }

  @media (min-width: $desktop-width) {
    background: url("../img/icon-phone.svg") 93.9% no-repeat, linear-gradient(to right, $white 0, $white 83.4%, $main-pink 83.4%, $main-pink 100%);
  }
}

.competition__input--email {
  @media (min-width: $tablet-width) {
    background: url("../img/icon-mail.svg") 95.5% no-repeat, linear-gradient(to right, $white 0, $white 87.9%, $main-pink 87.9%, $main-pink 100%);
  }

  @media (min-width: $desktop-width) {
    background: url("../img/icon-mail.svg") 93.9% no-repeat, linear-gradient(to right, $white 0, $white 83.4%, $main-pink 83.4%, $main-pink 100%);
  }
}

.competition__app {
  @include zero;
  @include font-medium;
  border: $list;
  margin: 0 auto;
  width: 280px;

  @media (min-width: $tablet-width) {
    @include zero;
    margin: 0 auto;
    width: 616px;
    border: 2px solid $fair-grey;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 431px;
  }
}

.competition__app-list {
  @include zero;
  display: flex;
  flex-direction: column;
  margin: 34px 0 7px;

  @media (min-width: $tablet-width) {
    margin-top: 51px;
    margin-bottom: 17px;
    width: 616px;
  }

  @media (min-width: $desktop-width) {
    width: 431px;
    margin: 54px 0 21px;
    align-items: center;
  }
}

.competition__app-item {
  list-style: $list;
  line-height: 40px;
  padding-left: 70px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-left: 117px;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    width: 234px;
    margin: 0 auto;
    margin-bottom: 34px;
    padding-left: 69px;
  }
}

.competition__emotions-container {
  padding-top: 38px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    @include zero;
    order: 4;
    margin-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 65px;
    width: 940px;
  }
}

.competition__emotions-input {
  padding: 0;
  border: $list;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 616px;
    border: 2px solid $fair-grey;
  }

  @media (min-width: $desktop-width) {
    @include zero;
    width: 936px;
  }
}

.competition__textarea {
  margin: 16px 0;
  width: 248px;
  height: 169px;
  padding: 14px;
  border: 2px solid $fair-grey;
  color: $main-blue;

  @media (min-width: $tablet-width) {
    height: 161px;
    width: 468px;
    margin: 45px 58px;
  }

  @media (min-width: $desktop-width) {
    width: 788px;
    height: 96px;
    margin: 42px 58px 37px;
  }
}

.competition__sender {
  background-color: $white;

  @media (min-width: $tablet-width) {
    order: 5;
  }
}

.competition__sender-container {
  width: 280px;
  margin: auto;
  padding-top: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    @include zero;
    width: 620px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.competition__button {
  @include button;
  text-decoration: none;
  display: block;
  position: relative;
  border-radius: 3px;
  line-height: 23px;

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.competition__button:hover {
  background-color: $gray-btn;
}

.competition__button:active {
  background-color: $gray-btn;
  color: rgba(255, 255, 255, 0.3);
}

.competition__list-lable {
  position: relative;
}

.competition__list-lable::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: $white;
  border: solid 2px $fair-grey;
  left: -70px;
  top: -7px;

  @media (min-width: $tablet-width) {
    left: -59px;
  }
}

.competition__checkbox:checked + .competition__list-lable::before {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: 7px 9px;
}

.competition__app-lable {
  position: relative;
}

.competition__app-lable::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: $white;
  border: solid 2px $fair-grey;
  left: -70px;
  top: -7px;

  @media (min-width: $tablet-width) {
    left: -59px;
  }
}

.competition__radio:checked + .competition__app-lable::before {
  background-image: url("../img/icon-map-marker.svg");
  background-repeat: no-repeat;
  background-size: 33px;
  background-position: 1px 1px;
}

.competition__app-lable:hover::before,
.competition__list-lable:hover::before {
  border: solid 2px $main-blue;
}

.competition__app-lable:active::before,
.competition__list-lable:active::before {
  border: solid 2px $pink;
}

.competition__requiered {
  @include font-small;
  text-transform: $big;
  text-align: center;
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    @include zero;
    margin-top: 3px;
    width: 183px;
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    line-height: 23px;
    width: 316px;
  }
}

.competition__requiered-hide {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.competition__star-marker {
  color: $pink;
}

.competition__goals,
.competition__personal-contacts,
.competition__app,
.competition__emotions-input {
  @media (min-width: $tablet-width) {
    position: relative;
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    margin-top: 8px;
  }
}

.competition__personal-goals,
.competition__contact-legend,
.competition__app-legend,
.competition__emotions-legend {
  @media (min-width: $tablet-width) {
    position: absolute;
    background-color: $white;
    left: 50%;
    transform: translateX(-50%);
    top: -9px;
  }
}
