.contacts {
  @include zero;
  margin: 0 auto;
  width: 100%;
  font-size: $s-med;
  font-weight: $fw-small;
  position: relative;
}

.contacts::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 370px;
  left: 0;
  background-image: url("../img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 205px;
  background-position-y: 13px;

  @media (min-width: $tablet-width) {
    top: 394px;
    background-size: contain;
  }

  @media (min-width: $desktop-width) {
    background-size: contain;
    top: 350px;
  }
}

.contacts__container {
  text-align: center;
  background: $white;
}

.contacts__wrapper {
  width: 280px;
  min-height: 410px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 620px;
    min-height: 390px;
    padding-bottom: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    min-height: 364px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

.contacts__list {
  @include zero;
  list-style: $list;
  min-height: 264px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    min-height: 190px;
    width: 640px;
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
  }

  @media (min-width: $desktop-width) {
    min-height: 170px;
    width: 886px;
    margin-top: 0;
    flex-direction: row;
    justify-content: space-between;
  }
}

.contacts__action-ask {
  min-height: 30px;
  width: 240px;
  font-size: $s-med;
  font-weight: $fw-small;
  line-height: 30px;
  margin-top: 42px;

  @media (min-width: $tablet-width) {
    @include zero;
    margin-top: 30px;
    min-height: 90px;
    width: 400px;
    font-size: 40px;
    font-weight: $fw-small;
    line-height: 48px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 57px;
    width: 475px;
    margin-top: 68px;
  }
}

.contacts__action {
  @include zero;
  color: $black;
  font-size: $s-small;
  font-weight: $fw-bold;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    margin-bottom: 4px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 22px;
  }
}

.contacts__item {
  width: 245px;
  min-height: 50px;
}

.contacts__item-3 {
  @media (min-width: $desktop-width) {
    order: 2;
    margin-bottom: -26px;
  }
}

.contacts__item-2 {
  @media (min-width: $desktop-width) {
    order: 3;
    align-self: auto;
  }
}

.contacts__method {
  text-decoration: $list;
  color: $pink;
  font-size: $s-med;
  font-weight: $fw-small;
  line-height: 30px;
}


.contacts__e-mail:hover {
  color: $main-blue;
}

.contacts__e-mail:active {
  color: rgba(40, 54, 69, 0.3);
}

.contacts__map {
  width: 100%;
  position: relative;
  min-height: 213px;
  background-color: $bg-map;
  background-image: url("../img/icon-map-marker.svg"), url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;

  @media (min-width: $tablet-width) {
    min-height: 371px;
    background-image: url("../img/icon-map-marker.svg"), url("../img/bg-map-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position-y: 188px, -353px;
    background-size: auto, auto;
  }

  @media (min-width: $desktop-width) {
    min-height: 504px;
    background-image: url("../img/icon-map-marker.svg"), url("../img/bg-map-desktop@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position-y: 253px, -288px;
    background-size: auto;
  }
}

.contacts__google-map {
  width: 100%;
  height: 213px;
  position: absolute;
  top: 0;
  left: 0;

  @media (min-width: $tablet-width) {
    height: 371px;
  }

  @media (min-width: $desktop-width) {
    height: 505px;
  }
}
