.effect {
  width: 100%;
  min-height: 400px;
  display: none;
  margin: 0 auto;
  background: $white;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    background-color: $main-pink;
  }
}

.effect__wrapper {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 620px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    min-height: 478px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.effect__block {
  @media (min-width: $tablet-width) {
    width: 311px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    width: 574px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.effect__title {
  @include zero;
  width: 170px;
  font-size: $s-large;
  font-weight: $fw-bold;
  line-height: 36px;
  color: $black;
  margin-top: 96px;

  @media (min-width: $desktop-width) {
    margin-top: 46px;
    font-size: 30px;
    font-weight: $fw-bold;
    width: 450px;
    min-height: 47px;
    letter-spacing: 0.6px;
  }
}

.effect__title-inside {
  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.effect__description-aside {
  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.effect__description-inside {
  @media (min-width: $desktop-width) {
    display: block;
  }
}

.effect__description {
  @include zero;
  @include font-middle;
  width: 300px;
  line-height: $s-med;
  padding: 10px 0;

  @media (min-width: $desktop-width) {
    @include font-medium;
    margin-bottom: 22px;
    width: 540px;
    min-height: 50px;
  }
}

.effect__link {
  @include font-middle;
  color: $pink;
  line-height: $s-med;
  text-decoration: underline;

  @media (min-width: $desktop-width) {
    @include font-medium;
    font-weight: $fw-med;
  }
}
