.effect {
  width: 100%;
  min-height: 400px;
  display: none;
  margin: 0 auto;
  background: $white;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    background-color: $main-pink;
  }
}

.effect__wrapper {
  @media (min-width: $tablet-width) {
    position: relative;
    margin: 0 auto;
    width: 620px;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    min-height: 478px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
}

.effect__block {
  @media (min-width: $tablet-width) {
    width: 311px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    width: 574px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.effect__wrapper::before {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "24";
    z-index: 1;
    text-align: center;
    font-weight: $fw-bold;
    font-size: 96px;
    line-height: 171px;
    vertical-align: middle;
    color: $pink;
    width: 239px;
    height: 281px;
    left: 0;
    top: -11px;
    padding-top: 135px;
    background-color: $clear;
    background-image: url("../img/icon-timer.svg");
    background-size: 239px, 280px;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    font-size: 121px;
    font-weight: 900;
    line-height: 157px;
    color: $pink;
    width: 300px;
    height: 300px;
    top: 0;
    padding-top: 176px;
    background-size: 298px, 280px;
    background-position: center;
  }
}

.effect__wrapper::after {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    display: inline-block;
    left: 32px;
    top: 127px;
    z-index: 3;
    width: 176px;
    height: 176px;
    border-radius: 50%;
    background-color: $clear;
    box-shadow: 0 0 0 13px #d22856;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    content: "";
    left: 40px;
    top: 151.5px;
    width: 219px;
    height: 220px;
    border-radius: 50%;
    background-color: $clear;
    box-shadow: 0 0 0 17px #d22856;
  }
}


.effect__title {
  @include zero;
  width: 170px;
  font-size: $s-large;
  font-weight: $fw-bold;
  line-height: 36px;
  color: $black;
  margin-top: 96px;

  @media (min-width: $desktop-width) {
    margin-top: 46px;
    font-size: 30px;
    font-weight: $fw-bold;
    width: 450px;
    min-height: 47px;
    letter-spacing: 0.6px;
  }
}

.effect__title-inside {
  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.effect__description-aside {
  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.effect__description-inside {
  @media (min-width: $desktop-width) {
    display: block;
  }
}

.effect__description {
  @include zero;
  @include font-middle;
  width: 300px;
  line-height: $s-med;
  padding: 10px 0;

  @media (min-width: $desktop-width) {
    @include font-medium;
    margin-bottom: 22px;
    width: 540px;
    min-height: 50px;
  }
}

.effect__link {
  @include font-middle;
  color: $pink;
  line-height: $s-med;
  text-decoration: underline;

  @media (min-width: $desktop-width) {
    @include font-medium;
    font-weight: $fw-med;
  }
}
