.form-promo {
  @include zero;
  min-height: 235px;
  background: $bg-blue url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 1%;
  position: relative;
  top: -65px;
  z-index: -5;
  margin-bottom: -65px;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 710px auto;
  }

  @media (min-width: $tablet-width) {
    min-height: 436px;
    background: $bg-blue url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% -4px;
    position: relative;
    top: -110px;
    z-index: -5;
    margin-bottom: -110px;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 394px;
    background: $bg-blue url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    position: relative;
    top: -110px;
    z-index: -5;
    margin-bottom: -110px;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
      background-position: 50% 12px;
    }
  }
}

.form-promo__header {
  @include zero;
  @include font-large;
  color: $white;
  padding: 94px 30px 50px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 60px;
    font-weight: $fw-small;
    padding-top: 178px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    margin: auto;
    padding-top: 174px;
    letter-spacing: -1px;
  }
}
