.main-nav {
  @include zero;
  margin: 0 auto;
  line-height: $s-big;
  min-width: 320px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__wrapper {
    display: flex;
    flex-direction: column;
    min-width: 660px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    min-width: 960px;
    margin: 0 auto;
  }
}
