.modal {
  @include font-small;
  display: none;
  text-align: center;
  background-color: $white;
  padding: 45px 0 50px;
}

.modal__success--block {
  @include zero;
  background-color: $main-pink;
  height: 164px;
}
