.modal {
  @include font-small;
  text-align: center;
  background-color: $white;
  padding: 45px 0 50px;

  &__wrapper {
    padding: 0 20px;
  }

  &__success--block {
    @include zero;
    background-color: $main-pink;
    height: 164px;
  }
}
