.photos {
  @include zero;
  background-color: $white;
  width: 100%;
  margin: 0 auto;
}

.photos__description {
  @include font-small;
  margin: 0 auto;
  padding-top: 45px;
  width: 244px;
  min-height: 139px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include font-medium;
    width: 450px;
    min-height: 136px;
    padding-top: 92px;
  }
}

.photos__panoramic {
  width: 100%;
  margin: 0 auto;
  margin-bottom: -30px;

  @media (min-width: $tablet-width) {
    @include font-medium;
    min-height: 509px;
  }
}

.photos__top-rated {
  @include zero;
  font-size: 12px;
  padding: 6px 21px;
  font-weight: $big;
  line-height: $s-med;
  text-transform: $big;
  color: $white;
  background-color: $pink;
  position: relative;
  top: -113px;
  left: 160px;
  margin-bottom: -143px;

  @media (min-width: $tablet-width) {
    top: -428px;
    left: 500px;
  }
}

.photos__container {
  width: 280px;
  margin: 0 auto;
}

.photos__body {
  @include zero;
  list-style: $list;
}

.photos__list {
  background-color: $main-pink;
  margin-bottom: 20px;
}

.photos__item {
  @include zero;
  @include font-xsmall;
  padding: $indent;
  padding-top: 12px;
}

.photos__top-value {
  @include zero;
  width: 240px;
  margin: 0 auto;
  padding: $indent;
  padding-top: 18px;
  background-color: $main-pink;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 562px;
    padding: 24px 31px 25px 27px;
    position: relative;
    top: 0;
    left: 0;
  }
}

.photos__author-name {
  font-weight: $fw-bold;
  font-style: normal;

  @media (min-width: $tablet-width) {
    @include small-bold;
  }
}

.photos__comment {
  @include zero;
}

.photos__rating {
  @include zero;
  text-transform: $big;
  font-size: 12px;
  line-height: 12px;
  color: $pink;
  font-weight: $fw-small;
  padding: 14px 0 26.3px;
}

.photos__rating-top {
  @media (min-width: $tablet-width) {
    width: 180px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: absolute;
    top: 10px;
    left: 456px;
  }
}

.photos__like {
  padding-left: 15px;

  @media (min-width: $tablet-width) {
    padding-right: 4px;
  }
}

.photos__rating-counter {
  @media (min-width: $tablet-width) {
    padding-right: 17px;
  }
}

.photos__likes-action {
  text-decoration: $list;
  color: $pink;

  @media (min-width: $tablet-width) {
    order: 2;
  }
}
