.photos {
  @include zero;
}

.photos__description {
  @include font-small;
  background-color: $white;
  padding: 31px 38px 35px;
  text-align: center;
}

.photos__panoramic {
  position: absolute;
}

.photos__top-rated {
  @include zero;
  font-size: 12px;
  padding: 6px 21px;
  font-weight: $big;
  line-height: $s-med;
  text-transform: $big;
  color: $white;
  background-color: $pink;
  position: relative;
  top: 0;
  left: 160px;
}

.photos__container {
  padding: $indent;
}

.photos__body {
  @include zero;
  list-style: $list;
}

.photos__list {
  background-color: $main-pink;
  margin-bottom: 20px;
}

.photos__item {
  @include zero;
  @include font-xsmall;
  padding: $indent;
  padding-top: 12px;
}

.photos__top-value {
  @include zero;
  margin: $indent;
  padding: $indent;
  padding-top: 18px;
  background-color: $main-pink;
  margin-top: 100px;
  margin-bottom: 20px;
}

.photos__author-name {
  font-weight: $fw-bold;
  font-style: normal;
}

.photos__comment {
  @include zero;
}

.photos__rating {
  @include zero;
  text-transform: $big;
  font-size: 12px;
  line-height: 12px;
  color: $pink;
  font-weight: $fw-small;
  padding: 14px 0 26.3px;
}

.photos__like {
  padding-left: 15px;
}

.photos__likes-action {
  text-decoration: $list;
  color: $pink;
}
