.post-photo {
  background-color: $main-pink;
  min-height: 911px;
  width: 100%;
  margin: 0 auto;
}

.post-photo__header {
  @include font-small;
  background-color: $white;
}

.post-photo__container {
  width: 280px;
  margin: 0 auto;
  margin-top: 46px;
}

.post-photo__title {
  @include zero;
  padding: 20px 20px 48px;
  text-align: center;
}

.post-photo__button {
  @include button-zero;
  width: 280px;
  padding: 15px 40px;
  border-radius: 26px;
  margin-bottom: 14px;
}

.post-photo__button--post {
  border: 3px solid $pink;
  color: $pink;
  background-color: $main-pink;
}

.post-photo__button--post:hover {
  background-color: $pink;
  color: $white;
}

.post-photo__button--post:active {
  background-color: $pink;
  color: rgba(255, 255, 255, 0.3);
}

.post-photo__button--disabled {
  border: 3px solid #283645;
  color: #283645;
  opacity: 0.1;
}

.post-photo__button--disabled:hover {
  opacity: 0.3;
}

.post-photo__button--disabled:active {
  background-color: #283645;
  color: rgba(255, 255, 255, 0.3);
}
