.prices {
  width: 100%;
  margin: 0 auto;
  line-height: 30px;
  background-color: $main-pink;

  @media (min-width: $tablet-width) {
    padding-bottom: 66px;
    padding-top: 6px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 96px;
  }
}

.prices__wrapper {
  width: 320px;
  padding-bottom: 96px;
  margin: auto;
  overflow-x: hidden;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 620px;
    overflow-x: visible;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.prices__list {
  table-layout: fixed;
  margin: 0 auto;
  width: 100%;
  background-color: $white;
  word-wrap: break-word;
  border-collapse: collapse;
  transform: translateX(-536px);

  @media (min-width: $tablet-width) {
    transform: translateX(0);
    width: 624px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.prices__header,
.prices__value {
  border: 2px solid $main-pink;
  width: 276px;
  word-wrap: break-word;

  @media (min-width: $tablet-width) {
    width: 140px;
    word-wrap: break-word;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
  }
}

.prices__header {
  padding: 8px 0 12px;
  height: 79px;
  text-transform: $big;
  background-color: $main-blue;
  color: $white;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include zero;
  }

  @media (min-width: $desktop-width) {
    font-size: $s-small;
    font-weight: $fw-bold;
    line-height: 32px;
    padding: 10px 0 9px;
  }
}

.prices__title--hit {
  position: relative;
  padding: 6px 0 11px;
}

.prices__title--hit::before {
  content: "Хит";
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  position: absolute;
  transform: rotate(-45deg);
  top: -2px;
  left: -82px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    left: -27px;
    top: -4px;
  }

  @media (min-width: $desktop-width) {
    left: -60px;
    top: -1px;
  }
}

.prices__title--hit::after {
  content: "";
  position: absolute;
  width: 76px;
  height: 74px;
  top: -14px;
  left: -91px;
  background: url("../img/bg-hit.svg");
  background-size: 74px;
  background-repeat: no-repeat;
  z-index: 1;

  @media (min-width: $tablet-width) {
    background-size: 62px;
    left: -33px;
    top: -8px;
  }

  @media (min-width: $desktop-width) {
    background-size: 74px;
    left: -71px;
    top: -14px;
  }
}

.prices__header--empty {
  @media (min-width: $tablet-width) {
    background-color: $main-pink;
  }
}

.prices__title {
  font-size: $s-small;
  font-weight: $fw-bold;

  @media (min-width: $tablet-width) {
    font-size: $s-small;
    font-weight: $fw-small;
  }
}

.prices__rate {
  @include zero;
  font-size: $s-med;
  font-weight: $fw-small;

  @media (min-width: $tablet-width) {
    font-size: $s-small;
    font-weight: $fw-small;
    padding-top: 2px;
  }

  @media (min-width: $desktop-width) {
    font-size: $s-med;
    font-weight: $fw-small;
  }
}

.prices__value--yes {
  fill: $green-yes;
  position: absolute;
  height: 33px;
  width: 30px;
  top: 12px;
  left: 229px;

  @media (min-width: $tablet-width) {
    left: 60px;
    top: 5px;
    height: 32px;
  }

  @media (min-width: $desktop-width) {
    left: 100px;
    top: 14px;
    height: 32px;
  }
}

.prices__value--no {
  fill: $red;
  position: absolute;
  top: 13px;
  left: 230px;

  @media (min-width: $tablet-width) {
    left: 62px;
    top: 4px;
    height: 32px;
  }

  @media (min-width: $desktop-width) {
    left: 101px;
    top: 14px;
    height: 32px;
  }
}

.prices__value {
  @include font-xsmall;
  text-transform: $big;
  padding: 13px 0 16px 21px;
  position: relative;
  left: 0;
  top: 0;

  @media (min-width: $tablet-width) {
    font-size: 0;
    padding: 5px 0 10px 17px;
  }

  @media (min-width: $desktop-width) {
    font-size: 0;
    padding: 13px 0 15px 20px;
  }
}

.prices__value--side {
  @media (min-width: $tablet-width) {
    @include font-small;
    text-transform: none;
    padding-left: 15px;
  }

  @media (min-width: $desktop-width) {
    @include font-medium;
    text-transform: none;
    padding-left: 20px;
  }
}

.prices__controls {
  @include zero;
}

.prices__controls input[type="radio"] {
  @include zero;
  opacity: 0;
}

.prices__slider-control {
  position: relative;
  top: 296px;
  margin-bottom: -54px;
  left: 50%;
  width: 240px;
  height: 24px;
  margin-left: -120px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.prices__slider-control label {
  display: inline-block;
  vertical-align: top;
  width: 6px;
  height: 6px;
  margin: 0 7px;
  background-color: rgba(40, 54, 69, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.prices__slider-control label:hover {
  background-color: rgba(40, 54, 69, 0.6);
}

.prices__input-1:checked ~ .prices__slider-control label[for="prices__min"],
.prices__input-2:checked ~ .prices__slider-control label[for="prices__standart"],
.prices__input-3:checked ~ .prices__slider-control label[for="prices__max"] {
  width: 7px;
  height: 7px;
  margin: 0 3px;
  background-color: $clear;
  border: 3px solid $main-blue;
  border-radius: 50%;
  position: relative;
  bottom: 4px;
}

.prices__input-1:checked ~ .prices__list {
  transform: translateX(-258px);

  @media (min-width: $tablet-width) {
    transform: translateX(0);
  }
}

.prices__input-2:checked ~ .prices__list {
  transform: translateX(-536px);

  @media (min-width: $tablet-width) {
    transform: translateX(0);
  }
}

.prices__input-3:checked ~ .prices__list {
  transform: translateX(-815px);

  @media (min-width: $tablet-width) {
    transform: translateX(0);
  }
}
