.prices {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 97px;
  line-height: 30px;
  background-color: $main-pink;

  @media (min-width: $tablet-width) {
    padding-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 96px;
  }
}

.prices__wrapper {
  width: 320px;
  overflow-x: hidden;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.prices__list {
  table-layout: fixed;
  margin: 0 auto;
  width: 100%;
  background-color: $white;
  word-wrap: break-word;
  border-collapse: collapse;
  transform: translateX(-536px);

  @media (min-width: $tablet-width) {
    transform: translateX(0);
    width: 624px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.prices__header,
.prices__value {
  border: 2px solid $main-pink;
  width: 276px;

  @media (min-width: $tablet-width) {
    width: 140px;
    word-wrap: break-word;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
  }
}

.prices__header {
  padding: 8px 0 11px;
  height: 79px;
  text-transform: $big;
  background-color: $main-blue;
  color: $white;
  text-align: center;


  @media (min-width: $tablet-width) {
    @include zero;
    font-size: 16px;
    font-weight: $fw-bold;
  }

  @media (min-width: $desktop-width) {
    font-size: $s-small;
    font-weight: $fw-bold;
    line-height: 32px;
    padding: 10px 0 9px;
  }
}

.prices__header--empty {
  @media (min-width: $tablet-width) {
    background-color: $main-pink;
  }
}


.prices__title {
  font-size: $s-small;
  font-weight: $fw-bold;
}

.prices__rate {
  @include zero;
  font-size: $s-med;
  font-weight: $fw-small;

  @media (min-width: $tablet-width) {
    font-size: $s-small;
    font-weight: $fw-small;
  }

  @media (min-width: $tablet-width) {
    font-size: $s-med;
    font-weight: $fw-small;
  }
}

.prices__value {
  @include font-xsmall;
  text-transform: $big;
  padding: 13px 0 16px 21px;

  @media (min-width: $tablet-width) {
    @include font-small;
    text-transform: none;
    padding: 5px 0 10px 17px;
  }

  @media (min-width: $desktop-width) {
    @include font-medium;
    text-transform: none;
    padding: 13px 0 15px 20px;
  }
}
