.site-list {
  @include zero;
  background-color: $main-blue;
  font-size: $s-small;
  font-weight: $fw-bold;
  text-transform: $big;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.site-list__logo-image {
  fill: $white;
}

.site-list__logo-image:hover {
  fill: $pink;
}

.site-list__logo-image:active {
  fill: rgba(255, 255, 255, 0.3);
}

.site-list__logo-image--mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.site-list__logo-image--tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.site-list__logo-image--desktop {
  display: none;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.site-list__logo-block {
  @include zero;
  list-style: $list;
}

.site-list__nav-block {
  @include zero;
  list-style: $list;
}

.site-list__item {
  padding: 17px 0 14px;
  list-style: $list;
  line-height: $s-big;
  background-color: $main-blue;
  border-bottom: 2px solid $black;
  outline: 1px solid $grey;
  text-align: center;

  @media (min-width: $desktop-width) {
    margin: 20px 0;
  }
}

.site-list__link:hover {
  color: $pink;
}

.site-list__link:active {
  color: $white;
  opacity: 0.3;
}

.site-list__link--current {
  @media (min-width: $desktop-width) {
    padding-bottom: 5px;
    border-bottom: 2px solid $white;
  }
}

.site-list__logo-header {
  padding: 21px 20px 13px;
  text-align: left;
  position: relative;
}

.site-list__link {
  text-decoration: none;
  color: $white;
}

.site-list__toggle {
  @include zero;
  position: absolute;
  top: 7px;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  fill: $white;

  &:hover {
    fill: $pink;
  }

  &:active {
    fill: $white;
    opacity: 0.3;
  }
}

.site-list__toggle--open {
  margin-left: 27px;

  @media (min-width: $tablet-width) {
    margin-left: 43px;
    margin-top: 13px;
  }
}

.site-list--closed {
  min-height: 60px;
  background-color: rgba(0, 0, 0, 0.3);
}

.site-list--opened {
  min-height: 326px;

  @media (min-width: $tablet-width) {
    min-height: 367px;
  }
}

.site-list--opened .site-list__toggle-menu {
  display: none;
}

.site-list--closed .site-list__toggle-menu {
  display: block;
}

.site-list--opened .site-list__toggle--open {
  display: block;
}

.site-list--closed .site-list__toggle--open {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .site-list--closed .site-list__item--active a {
    border-bottom: none;
  }

  .site-list--closed .site-list__nav-block {
    display: none;

    &--active {
      display: block;
    }
  }

  .site-list--opened .site-list__nav-block {
    position: absolute;
    top: 68px;
    right: 0;
    left: 0;
    z-index: 10;
    min-width: 320px;
    min-height: 20vh;
  }

  .site-list--nojs .site-list__toggle {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .site-list__logo-image {
    padding: 5px 0 5px;
  }

  .site-list__logo {
    height: 40px;
    width: 146px;
  }

  .site-list__item {
    padding: 16px 0 14px;
  }

  .site-list--opened .site-list__nav-block {
    top: 110px;
  }

  .site-list__toggle {
    top: 24px;
    right: 16px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    @include font-medium-line;
    padding: 0 10px;
    min-height: 110px;
    text-transform: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $clear;
  }

  // .site-list__logo-block {
  //   width: 150px;
  // }

  .site-list__nav-block {
    min-width: 620px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .site-list__item {
    border-bottom: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 14px 0;
  }

  .site-list__logo-header {
    @include zero;
    padding-bottom: 10px;
  }

  .site-list__toggle {
    display: none;
  }

  .site-list__logo-image {
    padding: 0 0 5px;
  }
}
